*{
    text-align: center;
}
.logo{
    position: relative;
    font-family: 'Titillium Web', sans-serif;
    font-size: 100px;
    top:40px;
    color: #0d47a1;
    height: 175px;
    margin: 0;
    padding: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.form{
    position: relative;
    padding:20px 10px;
    line-height: 35px;
}
input:hover, input:active{
    border-color:tomato;
}
.button:hover, form a:hover{
    border-color: tomato;
    background-color: #0d47a1;
}
.button {
    color: white;
    width: 80px;
    height: 40px;
    background-color: #1e88e5;
    border-width: 0.4px;
    border-radius: 25px;
    border-style:outset;
    transition: background-color 0.8s ease-in;
    font-family: 'Titillium Web', sans-serif;
    box-shadow: 1px 2px 3px rgb(104, 104, 104);
    border-color: rgb(116, 116, 116);
}
input{
    border-radius:8px;
    border-width: 0.8px;
    width: 300px;
    height: 30px;
    box-shadow: 1px 2px 3px rgb(104, 104, 104);
}
input:focus {
    border-radius: 8px;
}
ul{
    list-style: none;
    position: relative;
    color: white;
    overflow: hidden;
    background-color: #37474f;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
li{
    float: left;
    padding: 10px;
    display: block;
    transition: background-color 0.25s ease-in;
    background-color: #37474f;
}
li:hover {
    background-color: #263238;
}

li a, a:hover{
    text-decoration: none;
    color: white;
}
.spacer:hover {
    background-color: #37474f;
}

li:first-child, .right{
    float:right;
}

label {
    font-size:30px;
    letter-spacing: 2px;
    color: black;
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 1px 2px 3px rgb(104, 104, 104);
}
form a{
    text-decoration: none;
    background-color: #1e88e5;
    color: white;
    border-radius: 25px;
    padding: 8.5px 10px;
    border-width: 0.3px;
    border-style: outset;
    border-color: rgb(116, 116, 116);
    transition: background-color 0.8s ease-in;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    box-shadow: 1px 2px 3px rgb(104, 104, 104);
}


.nav-bar{
    position:relative;
    font-family: 'Titillium Web', sans-serif;
    width: 100vw;
    background-color: #37474f;
}
#add{
    width: 180px;
}
::-webkit-scrollbar {
  width: 18px;
}
 
/* Track */
::-webkit-scrollbar-track {
  box-shadow: 2.5px 2px 5px grey; 
  background-color: gray;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #37474f; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #263238; 
}
body{
    height: 80vh;
    width: 100vw;
    background-color: rgb(150, 154, 156);
    position: absolute;
    margin: 0;
}
span{
    color: red;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}